<div class="logo-container" [style.width]="size + 'px'" [style.height]="size + 'px'">
  <svg 
    [attr.width]="size" 
    [attr.height]="size" 
    viewBox="0 0 48 48" 
    fill="none" 
    xmlns="http://www.w3.org/2000/svg">
    <!-- Building Base -->
    <path 
      d="M8 42h32V12L24 4 8 12v30z" 
      [attr.fill]="color"
      fill-opacity="0.9"/>
    <!-- Windows -->
    <path 
      d="M16 18h4v4h-4zm6 0h4v4h-4zm6 0h4v4h-4z
         M16 26h4v4h-4zm6 0h4v4h-4zm6 0h4v4h-4z
         M16 34h4v4h-4zm6 0h4v4h-4zm6 0h4v4h-4z"
      fill="currentColor"
      fill-opacity="0.3"/>
    <!-- Roof accent -->
    <path 
      d="M24 8l-12 6h24l-12-6z" 
      fill="currentColor"
      fill-opacity="0.2"/>
  </svg>
</div> 